---
layout: default
---
{% render "hero", metadata: site.metadata, resource: resource %}
{% render "carousel", metadata: site.metadata, resource: resource %}
{% render "about", metadata: site.metadata, resource: resource %}
{% render "services", metadata: site.metadata, services: site.data.services, resource: resource %}

<section class="main-content">
  {{ content }}
</section>