@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

:root {
  --body-background: #fff;
  --body-color: #444;
  --heading-color: black;
  --action-color: #18aef9;
  --secondary-color: #ffb088;
  --bulma-primary-h: 200deg;
  --bulma-primary-s: 95%;
  --bulma-primary-l: 54%;
  --bulma-link-h: 192deg;
  --bulma-link-s: 69%;
  --bulma-link-l: 69%;
  --bulma-info-h: 199deg;
  --bulma-info-s: 65%;
  --bulma-info-l: 85%;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  margin: 0 8px;
  font-size: 108%;
  line-height: 1.5;
}

a {
  color: var(--action-color);
  text-decoration: none;
}

h1 {
  margin: 1rem 0 3rem;
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--heading-color);
  line-height: 1.2;
}

/* body > header {
  margin: 1rem;
  text-align: center;
} */

/* body > header img {
  display: inline-block;
  width: 400px;
  max-width: 100%;
} */

/* body > nav ul {
  margin: 2rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
} */

body > nav a {
  text-decoration: none;
}

/* main { */
/* margin: 2rem auto 4rem; */
/* max-width: 70rem;
  min-height: calc(100vh - 200px);
  padding: 25px 25px 50px;
  background: white;
  box-shadow: 2px 3px 3px #ddd;
  border-radius: 3px; */

/* @media (max-width: 560px) {
    padding: 16px 16px 50px;
  } */
/* } */

footer {
  background-color: #e0e0e0;
  padding: 2rem 1.5rem;
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1em;
}

.footer-logo {
  font-weight: bold;
  font-size: 2.0rem;
  color: #4a4a4a;
  text-align: left;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 0.2rem;
}

.social-icons a {
  margin: 0 5px;
  color: #4a4a4a;
  font-size: 1rem;
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 3rem 0;
}

.hero {
  text-align: center;
  padding: 50px 20px;
}

.hero .title {
  padding-bottom: 10px;
  font-size: 2.5rem;
  font-weight: 600;
}

.hero .subtitle {
  padding-bottom: 100px;
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--secondary-color);
}

.hero .buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 20px;
}

.main-content {
  margin: 2rem auto 4rem;
  padding: 25px 100px 50px;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}

.section {
  /* top | right | bottom | left */
  padding: 70px 100px;
  color: var(--heading-color);
}

.section .title {
  padding-bottom: 50px;
  color: var(--heading-color);
}

.section .subtitle {
  padding-bottom: 10px;
}

.section p {
  padding-bottom: 30px;
}

#about {
  background-color: var(--secondary-color);
}

#about .subtitle {
  color: var(--heading-color);
  font-size: 1.5rem;
  font-weight: 200;
}

#services {
  background-color: var(--bulma-primary-h, 200deg);
}

#services .card {
  background-color: var(--bulma-primary-h, 200deg);
}

#services .media {
  display: flex;
  justify-content: center;
}

#services .media-content .title {
  color: var(--action-color);
  padding-bottom: 30px;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

#services .media-content .subtitle {
  color: var(--heading-color);
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
}
