<section id="about" class="section">
  <h1 class="title">ABOUT US</h1>
  <div class="subtitle">
    <p><b>Webintellix</b> is a boutique, software development and technology services company that excels in transforming your business by catering to all your technology needs.</p>
    <p>We marvel at listening to our customers’ pain points & delivering solutions to solve for that. We take pride in building long-lasting business relationships through our work.</p>
    <p>We are a group of passionate technologists that have decades of experience, helping businesses build personalized software solutions.</p>
  </div>
  <div class="buttons">
    <a class="button is-primary is-large is-focused" target="_blank" href="{{metadata.bookings_link}}">Book a call today!</a>
  </div>
</section>