<section class="hero is-dark is-small">
  <div class="hero-body">
      <p class="title">You are busy building your business.</p>
      <p class="subtitle">Trust us with building your business automation and technology platform.</p>
      <div class="buttons are-medium">
        <a class="button is-primary is-focused" target="_blank" href="{{metadata.bookings_link}}">Schedule a call</a>
        <a class="button is-link is-light" href="#why-choose-us">Why choose us?</a>
      </div>
  </div>
</section>