<section class="hero is-dark is-small">
  <div class="hero-body">
      <p class="title">You are busy building your business.</p>
      <p class="subtitle">Trust us with building your software platform.</p>
      <div class="buttons are-medium">
        <a class="button is-primary is-focused" target="_blank" href="https://webintellix.zohobookings.com/#/4765963000000045014">Book a call</a>
        <a class="button is-link is-light">Why choose us?</a>
      </div>
  </div>
</section>