<section class="hero is-dark is-small">
  <div class="hero-body">
      <p class="title">You are busy building your business.</p>
      <p class="subtitle">Trust us with building your software platform.</p>
      <div class="buttons are-medium">
        <button class="button is-primary is-focused is-responsive">Book a call</button>
        <button class="button is-link is-light is-responsive">Why choose us?</button>
      </div>
  </div>
</section>