<nav class="navbar is-sticky-top is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
        <img src="{{ '/images/' | append: metadata.logo | relative_url }}" alt="Webintellix Logo" />
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNavBar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="mainNavBar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="#why-choose-us">Why choose us?</a>
      <a class="navbar-item" href="#services">Services</a>
      <!--a class="navbar-item" href="#">Use cases</a-->
      <!--a class="navbar-item" href="#">Testimonials</a-->
      <a class="navbar-item" href="#about">About</a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" target="_blank" href="{{metadata.bookings_link}}">
            <strong>Book a call</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
