<section id="services" class="section">
  <h1 class="title">OUR SERVICES</h1>
  <div class="fixed-grid has-3-cols has-1-cols-mobile has-3-cols-tablet has-3-cols-desktop">
    <div class="grid is-3">
      <div class="cell">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <figure class="image is-48x48">
                <img src="/images/magic_wand_3d.png" />
              </figure>
            </div> 
            <div class="media-content">
              <p class="title is-4">AI Chat & Agents Integration</p>
              <p class="subtitle is-6">Empower your business with intelligent solutions. Our AI integration services unlock smarter automation, improved decision-making, and enhanced customer experiences. Stay ahead with future-ready technology.</p>
            </div>             
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <figure class="image is-48x48">
                <img src="/images/diamond_with_a_dot_3d.png" />
              </figure>
            </div> 
            <div class="media-content">
              <p class="title is-4">UX / UI & Product Design</p>
              <p class="subtitle is-6">Design that drives engagement. We create intuitive interfaces and captivating designs that put user experience at the heart of your product.</p>
            </div>             
          </div>
        </div>  
      </div>
      <div class="cell">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <figure class="image is-48x48">
                <img src="/images/mobile_phone_3d.png" />
              </figure>
            </div> 
            <div class="media-content">
              <p class="title is-4">Web & Mobile Development</p>
              <p class="subtitle is-6">Craft seamless digital experiences with custom-built web and mobile solutions. We deliver fast, responsive, and scalable applications tailored to your business goals.</p>
            </div>             
          </div>
        </div>  
      </div>
      <div class="cell">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <figure class="image is-48x48">
                <img src="/images/rocket_3d.png" />
              </figure>
            </div> 
            <div class="media-content">
              <p class="title is-4">Modernization & Digital Transformation</p>
              <p class="subtitle is-6">Unlock new possibilities by transforming legacy systems and embracing modern technologies & architectures. Future-proof your business with scalable, efficient solutions.</p>
            </div>             
          </div>
        </div>  
      </div>
      <div class="cell">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <figure class="image is-48x48">
                <img src="/images/triangular_ruler_3d.png" />
              </figure>
            </div> 
            <div class="media-content">
              <p class="title is-4">Testing & Quality Assurance</p>
              <p class="subtitle is-6">Deliver flawless solutions with our rigorous testing and QA services. We ensure performance, security, and reliability so your software exceeds expectations.</p>
            </div>             
          </div>
        </div>  
      </div>
      <div class="cell">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <figure class="image is-48x48">
                <img src="/images/gear_3d.png" />
              </figure>
            </div> 
            <div class="media-content">
              <p class="title is-4">Servicing & Maintenance</p>
              <p class="subtitle is-6">Ensure your systems run smoothly with proactive maintenance and dedicated support. We keep your technology secure, updated, and optimized for peak performance.</p>
            </div>             
          </div>
        </div>  
      </div>                        
    </div>
  </div>
  <div class="buttons are-medium">
    <a class="button is-primary is-focused" target="_blank" href="https://webintellix.zohobookings.com/#/4765963000000045014">Book an introductory consultation call</a>
  </div>
</section>