<section id="why-choose-us" class="section">
  <h1 class="title">WHY CHOOSE US</h1>
  <div class="subtitle">
    <p><b>Webintellix</b> excels in accelerating small businesses and startups from vision to MVP to production, guided by a battle-tested and proven engagement methodology.</p>
    <p><b>The Problem:</b> Engagement and delivery of technology solutions are often time-consuming and inefficient, causing scoping creep and complex technology choices, leading to missed deadlines and wasted resources.</p>
    <p><b>The Solution:</b> Our deep technology expertise, engagement and delivery methodology streamlines planning, tracking, and delivering projects more efficiently, to scope and on-time. We efficiently manage the three pillars of transformation: people, process & technology.</p>
  </div>
  <div class="buttons">
    <a class="button is-primary is-large is-focused" target="_blank" href="#">Download 1-pager</a>
  </div>
</section>